<section>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar" routerLink="inicio">
        <img src="/assets/img/hamb_icon.png" alt="icon" width="30" height="24">
      </a>
      <a class="navbar-brand" routerLink="pedidos">Pedidos</a>
      <a class="navbar-brand" routerLink="nuevo_pedido">Realizar pedido</a>
      <a class="navbar-brand" routerLink="gestion_pedidos">Gestión de pedidos</a>
      <a class="navbar-brand" routerLink="mantenimiento_menu">Gestión del menú</a>
    </div>
  </nav>
</section>
